name: Deploy

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest
        concurrency:
            group: deploy-${{ github.ref }}
            cancel-in-progress: true
        steps:
            - name: Deploy via SSH
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  port: ${{ secrets.SSH_PORT }}
                  script: |
                      set -e
                      echo "==============================================="
                      echo "======= Pulling code ========================="
                      echo "==============================================="
                      cd /var/www/pelican
                      git config --global --add safe.directory /var/www/pelican
                      git fetch origin
                      git reset --hard origin/main
                      echo "==============================================="
                      echo "======= Composer install ====================="
                      echo "==============================================="
                      COMPOSER_ALLOW_SUPERUSER=1 composer install --no-dev --optimize-autoloader --no-interaction
                      echo "==============================================="
                      echo "======= Bun update & build ==================="
                      echo "==============================================="
                      bun update --latest
                      bun x vite build
                      echo "==============================================="
                      echo "======= Laravel maintenance =================="
                      echo "==============================================="
                      php artisan down
                      chmod -R 755 storage/* bootstrap/cache
                      php artisan storage:link
                      php artisan optimize:clear
                      php artisan optimize
                      php artisan migrate --seed --force
                      chown -R www-data:www-data /var/www/pelican
                      php artisan queue:restart
                      php artisan up
                      echo "==============================================="
                      echo "======= Deploy complete ======================"
                      echo "==============================================="
